#home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#home .container img {
  width: 100%;
  max-width: 600px;
  margin: 4rem auto 0rem auto;
}

.text-box h1,
.text-box p {
  max-width: 550px;
}

@media screen and (min-width: 1170px) {
  #home .container {
    flex-direction: row;
    text-align: left;
  }

  #home .container img {
    margin: 0;
  }

  #home .container,
  .text-box h1 {
    font-size: 2.75rem;
  }
}
